.book {
  margin: 0 15px 15px 0;
  z-index: 2;
  border-color: rgb(51, 51, 51);
  border-width: 1px;
  border-style: solid;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out transform;
  max-width: 250px;
  padding: 1.5rem;
}